// -------------------------------------
//   DESKTOP MEDIA QUERY
// -------------------------------------


@media #{$large-up} {

	// ----- CONTAINER ----- //
	.container{
		.callout{
			@include grid-column(10, $center:true);
		}
	}

	// ----- TOP BAR ----- //
	#top_bar > div{
		@include grid-row();

		.tel{
			@include grid-column(2,  $float: left);
		}
		span{
			@include grid-column(2);
		}
		.links{
			@include grid-column(3,  $float: right);
		}
	}
	#top_bar ul.f-dropdown.open {
		margin-right: 50px;
	}




	// ----- HEADER ----- //
	#header{
		nav{
			.title-area{
				.name{
					img{
						padding-top: 5px;
					}
				}
			}
		}
	}





	// ----- CTA / PRICING ----- //







	// ----- FEATURES IN NEWS SECTION ----- //
	.featured-news{
		> div{
			height: 150px;
			p{
				margin: 20px 0 0 0;
			}
			.news-logos{
				@include block-grid(6);
				@include verticalMargin(20px);
			}
		}
	}








	// ----- FEATURES ----- //
	.features{
		> div{
			@include verticalPadding(20px);
			.c-5{
				@include grid-column(5, $push:1);
				margin-top: 20px;

				p{
					padding-right: 100px;
				}
			}
			.c-7{
				@include grid-column(5, $push:1);
			}
		}
	}



	// ----- VAULT SECTIONS ----- //
	.vault{
		@include verticalPadding(60px);

		// OFF CANVAS MENU
		.right-off-canvas-menu, .left-off-canvas-menu{
			display: none;
		}

		// MAIN SECTION
		section{
			@include grid-column(9);
			padding: 40px 60px;
		}
	}






	// ----- BOTTOM CTA ----- //
	.bottom-cta{
		> div{
			h3{
				font-size: $h3-font-size + 0.3;
			}
			h5{
				font-size: $h5-font-size + 0.1;
			}

		}
	}





	// ----- FOOTER ----- //
	#footer{
		> div{
			.columns{
        &.social{
  				.email{
  					@include grid-column(7, $collapse: true);
  				}
  				.envelope{
  					@include grid-column(2, $collapse: true);
  				}
  			}
			}
		}

	}


} // End desktop media query
